.card {
    display: flex;
    margin: 1em;
    border: solid 1px black;
}

.card h3 {
    display: flex;
    flex-direction: row;
    padding: 0 3em;
    margin-right: 30em;
    width: 100%;
}

.btn-excluir {
    background-color: rgb(197, 5, 5);
}

