.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 40rem;
  height: 25rem;
  padding: 3rem;
  margin-top: 5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: var(--secondary-bg-color);
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content-car {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: slideout 1s;
  height: 30rem;
  
}

.new-car {
  font-size: 2rem;
  font-weight: semibold;

  color: var(--main-txt-color);
  text-decoration: none;
  margin-top: 5rem;
}

.new-car:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.button {
  width: 30rem;
  height: 4rem;

  margin-left: 3rem;
  border: none;
  border-radius: 1rem;

  background-color: var(--main-acceppt-bg-color);

  font-size: 2rem;
  font-weight: bold;
  color: var(--main-txt-color);
}
.button-new {
  border: none;
  border-radius: 1rem;

  background-color: transparent;

  font-size: 2rem;
  font-weight: bold;
  color: var(--main-txt-color);
}

button:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}