.page-consultar {

    display: flex;
    font: 600 16px 'Inter';

    
    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }



    .conteudo {
        display: flex;
        flex-direction: column;
        
        padding: 20px 60px;
        background-color: #F5F6FA;
        flex-grow: 1;
    }


    .caixa-busca {
        display: flex;
        justify-content: space-between;

        background-color: #fff;
        padding: 20px 40px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px rgb(220, 220, 220);
        width: 40%;
        margin-top: 30px;
    }
    .caixa-busca input {
        background: none;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .caixa-busca img {
        cursor: pointer;
        position: relative;
        right: -15px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
    }
    th {
        text-align: left;
        color: #fff;
        padding: 25px 40px;
        font-size: 14px;
        text-shadow: 0px 1px 4px rgba(217, 217, 217, 0.5);
    }
    thead {
        background-color: #7773F2;
    }
    td {
        padding: 25px 40px;
        font-weight: 500;
    }
    tbody tr:nth-child(even) {
        background-color: #EDEDED;
    }
    tbody tr:hover {
        background-color: #e1e1e1;
    }
    td img {
        width: 18px;
        cursor: pointer;
    }
    tr td:nth-child(2) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
        width: 100px;
    }
    tr td:nth-child(1) {
        color: #606060;
        font-weight: 700;
    }
    tr td:nth-last-child(1) * {
        visibility: hidden;
    }
    tr:hover td:nth-last-child(1) img {
        visibility: visible;
    }

}

