

.comp-cabecalho {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    
    padding: 0px 80px;
    box-shadow: 1px 2px 10px #e3e3e3;

    

    .bem-vindo {
        font: 700 18px 'Inter';
        color: #7C7C7C;
    }

    .usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #7773F2;
        border-radius: 100%;
        
        font: 500 20px 'Inter';
        color: #fff;

        height: 50px;
        width: 50px;
    }
}