.page-detalhe {
    display: flex;
    font: 600 18px 'Inter';

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .conteudo {
        display: flex;
        align-items: flex-start;
        
        padding: 60px 60px;
        background-color: #F5F6FA;
        flex-grow: 1;
    }
    
    


    
}