.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.modal {
  padding: 30px;
  max-width: 480px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.modal button{
  margin-bottom: 2%;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1%;
}

.modal h1{
  margin-bottom: 5%;
}

.info-modal{
    display: flex;
    justify-content: center;
}

.card-detalhes p {
  word-break: break-all;
}