.container {
    padding-bottom: 15em;
}

.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.query-text {
    color: #c19d1a;
}

.anuncio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 2rem;
    max-width: 1200px;

    margin: auto;
}

.edit-card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.215);

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

button.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6%;
    padding: .8em 9em;
    position: absolute;
    top: 2%;
    right: 42%;
}