.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(235, 235, 235);
}

button {
  all: unset;
  cursor: pointer;
  color: white;
  background-color: black;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}